:root {
  --primary-color: #FF9F0D;
  --main-bg-color: #ffffff;
  --dark-bg-color: #000000;
  --copyright-bg-color: #4F4F4F;
  --faq-bg-color: #FAF7F2;
  
  --text-color: #000000;
  --text-reverse-color: #ffffff;
  --text-title-color: #333333;
  --text-info-color: #4F4F4F;
  --text-more-info-color: #828282;

  --line-main-color: #E0E0E0;
  --line-color: #BDBDBD;

  --font-title: Helvetica;
  --font-section-title: 'Great Vibes';
  --font: 'Inter';
}